.container{
    
    border: 3px solid rgb(165, 165, 165);
    background-color: rgba(126, 126, 126, 0.753);
    width: 180px;
    border-radius: 10px;
    
    margin: 20px;
}

.container:hover{
    transition: 0.2s;
    box-shadow: -20px 20px 10px rgb(0,0,0, 0.3);
}
.poss{  
    position: relative;
    margin: 10px;
}

.poss img{
    position: relative;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(15, 15, 15);
}
.poss h2{
    position: absolute;
    left: 5px;
    top:120px;
    background-color: rgb(92, 93, 94);
    color: white;
    font-size: 16px;
    font-style:italic;
}

.butonConteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.butonConteiner button {
    margin: 0.5rem 0 0 0;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
}

.butonConteiner button:hover {
    transition: 1s;
    color: black;
}

.data {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    color: rgb(46, 42, 42);
}