.search{
    padding: 1rem;
    display: inline-flex;
    justify-content: center; 
    text-align: right;
}

.search button {
    border-radius: 3px;
    padding: 0.5rem;
    width: 100px;
    border: none;
    background-color: rgb(24, 146, 24) ;
    color: white;
}

.search button:hover{
    transition: 0.3s;
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.search input {
    border-radius: 3px;
    border: none;
}
.search input:hover{
    transition: 0.3s;
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.search img {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 25%;
}